@import './base.css';
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" );
@import url("https://cdn.jsdelivr.net/npm/font-awesome@4.x/css/font-awesome.min.css");
body{
  line-height: 1.4;
  background-color: var(--color-body);
  color: var( --color-blue-text);
  font-family: var(--font-Lexend);  
}
h1 {
  line-height: 1.2;
  font-family: var(--font-sansita);  
}

h2 {
  font-family: var(--font-sansita);  
}

h3 {
  font-family: var(--font-sansita);  
}

p{
  font-weight: 350;
  line-height: 1.4;
}

#app {
  width: 100%;
  font-weight: normal;
  

}
section{
  padding: 0rem 4rem;
}

/* a, 
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* main section */
.main-section {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 6rem;
  
}

.section-text {
  line-height:1.3;
  margin-bottom: 1.5rem;
 
  
 
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  
}

.section-subtitle{
  font-size: 35px;
  margin-bottom: 2rem;
}

.section-desc {
  font-size: 18px;
  padding: 0;
  /* margin-bottom: 2rem; */
 
  
}


/* Secondary section  */
.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-input {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  width: 100%;
  background-color: var(--color-input);
  color: var(--color-blue-text);
}

.btn-red{
    
    font-family: var(--font-Lexend);
    text-transform: capitalize;
    min-width: 1% ; 
    background-color: var(--color-red-btn) ;
    color: white; 
    border-radius: 50px;
    padding: 0.5rem 1rem;
    max-width: 150px;
    font-size: 1rem;

    transition: background-color 0.3s ease-in-out;
}

.btn-red:hover {
  background-color: var(--color-red-btn-hover) !important;
}



/* @media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 50px;
    width: 100%;
  }
} */

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
   
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
